* {
    margin: 0;
    padding: 0;
}

.sectionpd {
    padding: 30px 0px
}

.section2pd{
    padding: 80px 0;
}
.section3pd{
    padding: 70px 0;
}

/* section 1  */

.header {
    background-image: url(images/sliderbackground.png);
    width: 100%;
    background-size: 1500px;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    position: relative;
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}

.nav-div {
    padding: 3px 5px;
}

.nav-item {
    padding: 5px 10px;
}

.active {
    color: #ffc178 !important;
}

.nav-link {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 600;
    color: #5a6e79;
}

.nav-link:hover {
    color: #ffc178 !important;

}

.btn {
    color: #ffc178 ;
    padding: 0 20px ;
    display: flex;
    align-items: center;
    border: none;
    background-color: #fff;
    border-radius: 60px;
}
.btn a{
    text-decoration: none;
    color: #ffc178;
}
.btn:hover{
    color: #ffc178;
}

.header-text {
    padding: 250px 0px;
    margin-top: -10%;
}

.header-text h3 {
    font-weight: 900 !important;
    font-family: 'Montserrat', sans-serif;
    color: #ffc178;
}

.header-text p {
    color: #5a6e79 !important;
}

.header-text button {
    color: #fff;
    border: none;
    padding: 10px 20px;
    background-color: #ffc178;
    border-radius: 60px;
}
.header-text button a {
    text-decoration: none ;
    color:#fff;
}
.navbar-light .navbar-toggler {
    color: rgb(255 193 120);
    border-color: rgb(255 193 120);
}


/* section 2 our-dpt  */


.dept-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.dept-content h3 {
    font-weight: 700;
}

.dept-para {
    font-size: 13px;
    padding: 3px 30px;
    color: #5a6e79;
}
.card.card-dept.aos-init.aos-animate {
    margin-bottom: 10px;
}

.card-body-dept {
    padding: 20px 0;
}

.card-body-dept h5 {
    font-weight: 700;
    color: #fff;
}

/* section 3  */
.learn-content {
    padding: 30px 10px;
}
.learn-img:hover{
    cursor: pointer;
}

/* Modal  */
.modal-header {
    background-color: #fff9f3;
    backdrop-filter: blur(30px);
}
.modal-body {
    background-color: #fff9f3;
    backdrop-filter: blur(30px);
}

.learn-heading{
    padding: 10px 0;
    
}
.learn-heading h4{
    font-weight: 700;
    line-height: 33px;
}

.learn-para{
    font-size: 14px ;
    color: #5a6e79;
    line-height: 20px;

}

.counters{
    display: flex;
    justify-content: space-around;
}
.count-inner h4{
    font-weight: 700;
}

.count-inner p{
    font-size: 14px;
}

/* section 4  */

.uni-head{
    display: flex;
    justify-content: center;
    padding: 50px 0;
    
}
.uni-head h4{
  font-weight: 999;
  font-family: 'Poppins', sans-serif;
}

.card-uni{
    margin-bottom: 10px;
    box-shadow: 0 0 30px #00000038;
}
.card-uni:hover{
    cursor: pointer;
}



.card-title-uni p{
    margin:0 ;
    padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 14px;

}

.card-mid-uni p{
    color: #5a6e79;
    font-size: 12px;
}

.card-text-uni{
    color: #5a6e79;
    font-size: 14px;
}

/* section 5  */

.footer{
    background-color: #252c3a;
}
.footer-col1 p {
    color: #969595;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 20px;
}
.footer-heading{
    padding: 20px 0;
    color: white;
}

.footer-links{
    padding: 20px 0px;
}

.footer-links ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;  
}
.footer-links ul li {
    list-style: none;
    padding: 0px 10px;
    font-size:18px ;
    color: #5a6e79;
    cursor: pointer;
}

.footer-heading2{
color: #fff;
font-size: 18px;
padding: 20px 0 ;

}

.footer-links2 ul {
    margin: 0;
    padding: 0;
}
.footer-links2 ul li{
    list-style: none;
    color: #969595;
    cursor: pointer;
    font-size: 14px;
    line-height: 38px;
}
.footer-links2 ul li span{
    color: #6b6b6b;
    letter-spacing: -1px;
    font-size:12px ;
}


.footer-para{
    padding: 10px 0;
    color: #969595;
    font-size: 14px;
}
.footer-para p{
    margin: 0;
}

.contact{
    padding: 10px 0;
}
form{
    background-color:#ffc178;
}
input{
    border: none;
    outline: none;
    padding: 5px 0 5px 20px;
    letter-spacing: -1px;
    font-size: 14px;
}

/* section 6  */

.web{
    background-color: #1d232e;
    color: #6b6b6b;
}
.web i{
    font-size: 12px;
}
.web p {
    padding: 10px 0;
    margin: 0;
}

/* section 7  */

.top-btn{
    position: fixed;
    z-index: 999;
    bottom: 2%;
    right: 2%;
}
.icon-topBtn{
    display: none;
    padding: 10px;
    background-color: #ffc1787a;
    border-radius: 5px;
    cursor: pointer;
}



@media screen and (max-width:992px) {
    .nav-item {
        padding: 2px 1px;
    }
}

@media screen and (max-width:600px) {
    .dept-para br{
        display: none;
    }    
    .header {
        background: #fff9f3;
    }
    .header-text {
        padding: 62px 3px;
    }
    .nav-item {
        padding: 0px 16px;
    }
    .web {
        display: none;
    }
    .icon-topBtn{
        padding: 5px;
    }
    
}


@media screen and (max-width:768px) {
    .header-text{
            padding: 127px 50px;
    }
    .header {
        background: #fff9f3;
    }
    .header-text h3{
        font-weight: 700 !important;   
    }
    .header-text button{
        padding: 10px 10px ; 
    }
    .btn {
        width: fit-content;
        padding: 10px 16px;
    }
    .section2pd {
        padding: 20px 0;
    }
}

@media screen and ( max-width:375px) {
    .header-text {
        padding: 63px 0px;
    }
    
}

